.logo{
    font-weight:900;
  
  
}


.appbar {
    box-shadow: none;
}

.sidmenu{
    height:100%;
    margin-bottom:10px
}

.box{
    margin-top: 10px;
    margin-right: 10px;
}
.img{
    border-radius:10px;
}

.link{
    text-decoration:none;
    color:black;
}
